<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- For more details, see : https://docs.microsoft.com/en-us/nuget/consume-packages/package-restore -->

    <!-- defaultPushSource key works like the 'defaultPushSource' key of NuGet.Config files. -->
    <!-- This can be used by administrators to prevent accidental publishing of packages to nuget.org. -->

    <!-- Default Package Sources; works like the 'packageSources' section of NuGet.Config files. -->
    <!-- This collection cannot be deleted or modified but can be disabled/enabled by users. -->
    <packageSources>
        <!-- Local to the image -->
        <add key="Local package source" value="/app/NugetPackages" />
        <!-- Nuget.org -->
		<!--
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		-->
    </packageSources>

    <activePackageSource>
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>

</configuration>